@import "helpers";

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

a {
  // display: flex;
}
 
.flex-wrapper, .heading {
  @include flex-wrap;
  align-items: center;
}

.about {
  background: linear-gradient( to top, rgba(0,0,70,1) 0%, rgba(28,181,224,1) 100%);
  color: white;
  position: relative;
  min-height: 100vh;
}

.landing {
  height: 70vh;
}

.landing .flex-wrapper {
  height: 100%;
  align-items: center;
}

.landing .content {
  // align-content: space-around;
  // display: flex;
  // flex-flow: row wrap;
  // align-items: center;
  // justify-content: center;
  margin: 5vh auto 0 auto

  // p, h1, h2 {
  //   margin: auto;
  // }
}

.landing p {
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
  color: #1D6297;
  width: 100%;
  margin-bottom: 0;

}

.landing h1 {
  font-size: 4em;
  text-align: center;
  color: #1D6297;
  font-weight: 700;
  letter-spacing: -3%;
  margin-top: 0;
  margin-bottom: 0;
}

.landing h2 {
  font-size: 1.4em;
  font-weight: 300;
  text-align: center;
  color: #1D6297;
  margin-top: 3em;
}

.grid .heading {
  grid-row: span 1;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: center;

}

.grid .icons {
  grid-row: span 1;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
}
.grid h2 {
  font-size: 2em;
  margin: 1em;
}

.grid .photo {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-color: white;
}

.grid i {
  grid-row: span 1;
  font-size: 3em;
  display: flex;
  align-items: center;
  margin: 0.25em;
}

.grid i span {
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
  font-size: 0.3333em;
  margin: auto 1em auto 0.5em;
}

.grid i.fa-file-pdf {
  font-size: calc(3em - 35%);
}


.grid p {
  grid-row: span 1;
}
 
.border { 
  width:100%;
  position:static;
  height: 15vh;
  min-height: 100px;
}

.wave {
  background: url(newwave.svg) repeat-x; 
  position: absolute;
  background-size: contain;
  width: 100vw;
  height: 100px;
  opacity: 1;
  animation: wave 10s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
}

.wave:nth-of-type(2) {
  animation: wave 10s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -0.5s infinite, swell 10s ease -1.25s infinite;
  opacity: 0.5;
  position: absolute;
}

@keyframes wave {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -100vw;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translateY(1vh);
  }
  50% {
    transform: translateY(-1vh);
  }
}

@media only screen and (min-width:800px) {
  @keyframes wave {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: -800px;
    }
  }

}

.content {
  max-width: 80%;
  margin: 5% auto;
}

.fa-chevron-down {
  width: 100%;
  text-align: center;
  height: 16vh;
  font-size: 2em;
  line-height: 16vh !important;
  text-decoration: none;
  color: inherit;
  background: linear-gradient( to top, rgba(0,0,70,0.8) 0%, rgba(255,255,255,0) 100%);
}

.fa-chevron-down.scrolled {
  background: none;
  height: 0;
  overflow: hidden;
  transition: all 0.6s;
}

.grid {
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 2% 5%;
  justify-items: center;
  place-content: stretch;

}

nav {
  background: #fff;
  height: 80px;
  line-height: 80px;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9998;
  transition: all 0.5s;
}
nav.scrollUp {
  transform: translateY(-80px);
}
nav ul.navbar-menu {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
}
nav ul.navbar-menu li {
  display: inline-block;
  margin: 0 10px;
}
nav ul.navbar-menu li a {
  color: #666;
  font-size: 14px;
}
nav a#brand {
  text-transform: uppercase;
  float: left;
  font-weight: 800;
  font-size: 20px;
}
nav button {
  background: none;
  width: 30px;
  height: 40px;
  margin-top: 20px;
  border: none;
  float: right;
  display: inline-block;
  cursor: pointer;
  display: none;
}
nav button span {
  width: 30px;
  height: 40px;
  height: 2px;
  background: #333;
  display: block;
  margin: 5px 0;
}

@media (max-width: 768px) {
  nav ul.navbar-menu {
    display: none;
  }

  nav button {
    display: block;
  }
}



