html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  font-family: "Raleway", sans-serif;
  overflow-x: hidden;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex-wrapper, .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about {
  background: -webkit-gradient(linear, left bottom, left top, from(#000046), to(#1cb5e0));
  background: linear-gradient(to top, #000046 0%, #1cb5e0 100%);
  color: white;
  position: relative;
  min-height: 100vh;
}

.about .flex-wrapper {
  padding-bottom: 10%;
}

.landing {
  height: 70vh;
}

.landing .flex-wrapper {
  height: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing .content {
  margin: 5vh auto 0 auto;
}

.landing p {
  font-weight: 300;
  font-size: 1.2em;
  text-align: center;
  color: #10417d;
  width: 100%;
  margin-bottom: 0;
}

.landing h1 {
  font-size: 4em;
  text-align: center;
  color: #10417d;
  font-weight: 700;
  letter-spacing: -3%;
  margin-top: 0;
  margin-bottom: 0;
}

.landing h2 {
  font-size: 1.4em;
  font-weight: 300;
  text-align: center;
  color: #10417d;
  margin-top: 3em;
}

.grid .heading {
  grid-row: span 1;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.icons {
  grid-row: span 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  width: 100%;
}

.grid h2 {
  font-size: 2.5em;
  margin: 1em;
}

.grid .photo {
  width: 10em;
  height: 10em;
  border-radius: 50%;
  background-color: white;
}

.grid a {
  grid-row: span 1;
  font-size: 3em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.25em;
}

footer .icons a {
  font-size: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0.25em;
  color: #10417d;
}

footer .icons a span {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 0.3333em;
  width: 100%;
  margin-top: 0.5em;
}

footer ul {
  list-style: none;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

footer ul li {
  margin: 0.25em 1em;
}

@media only screen and (max-width: 768px) {
  footer ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
}

.grid a span {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  font-size: 0.3333em;
  width: 100%;
  margin-top: 0.5em;
}

@media only screen and (max-width: 515px) {
  .grid a {
    margin: 0;
    width: auto;
  }
  .grid a span {
    display: none;
  }
}

@media only screen and (max-width: 400px) {
  .grid h2 {
    margin: 1em 0;
  }
}

.grid a.fa-file-pdf {
  font-size: calc(3em - 35%);
}

.grid p {
  grid-row: span 1;
}

.border {
  width: 100%;
  position: static;
  height: 15vh;
  min-height: 100px;
}

.wave {
  background: url(newwave.svg) repeat-x;
  position: absolute;
  background-size: contain;
  width: 100vw;
  height: 100px;
  opacity: 1;
  -webkit-animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
          animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
}

.wave:nth-of-type(2) {
  -webkit-animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.5s infinite, swell 10s ease -1.25s infinite;
          animation: wave 10s cubic-bezier(0.36, 0.45, 0.63, 0.53) -0.5s infinite, swell 10s ease -1.25s infinite;
  opacity: 0.5;
  position: absolute;
}

@-webkit-keyframes wave {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -100vw;
  }
}

@keyframes wave {
  0% {
    background-position-x: 0%;
  }
  100% {
    background-position-x: -100vw;
  }
}

@-webkit-keyframes swell {
  0%, 100% {
    -webkit-transform: translateY(1vh);
            transform: translateY(1vh);
  }
  50% {
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
}

@keyframes swell {
  0%, 100% {
    -webkit-transform: translateY(1vh);
            transform: translateY(1vh);
  }
  50% {
    -webkit-transform: translateY(-1vh);
            transform: translateY(-1vh);
  }
}

@media only screen and (min-width: 800px) {
  @-webkit-keyframes wave {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: -800px;
    }
  }
  @keyframes wave {
    0% {
      background-position-x: 0%;
    }
    100% {
      background-position-x: -800px;
    }
  }
}

.content {
  max-width: 80%;
  margin: 5% auto;
}

.fa-chevron-down {
  font-size: 2em;
}

.chevron-container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 16vh;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 70, 0.8)), to(rgba(255, 255, 255, 0)));
  background: linear-gradient(to top, rgba(0, 0, 70, 0.8) 0%, rgba(255, 255, 255, 0) 100%);
}

.chevron-container.scrolled {
  background: none;
  height: 0;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  opacity: 0;
}

.grid {
  display: -ms-grid;
  display: grid;
  grid-auto-rows: auto;
  grid-gap: 2% 5%;
  justify-items: center;
  place-content: stretch;
}

header {
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 9998;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header.scrollUp {
  -webkit-transform: translateY(-80px);
          transform: translateY(-80px);
}

@media (max-width: 768px) {
  header button {
    display: block;
  }
}

.mobile-nav {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: -webkit-gradient(linear, left bottom, left top, from(#000046), to(#1cb5e0));
  background: linear-gradient(to top, #000046 0%, #1cb5e0 100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column nowrap;
          flex-flow: column nowrap;
  color: white;
  position: relative;
  left: calc(100vw - 60px);
  top: 0;
  margin: 0.5em;
  -webkit-transition: width 200ms, height 200ms, left 200ms, top 0ms;
  transition: width 200ms, height 200ms, left 200ms, top 0ms;
}

.mobile-nav .fa-times {
  display: none;
}

.mobile-nav i {
  position: absolute;
  font-size: 1.5em;
  color: white;
  cursor: pointer;
}

.mobile-nav ul {
  list-style: none;
  color: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  position: absolute;
  right: 48%;
  top: 51%;
  font-size: 1.2em;
}

.mobile-nav ul li {
  margin: 0.5em 0;
  display: none;
}

.mobile-nav.clicked {
  width: 475px;
  height: 475px;
  left: calc(100vw - 275px);
  top: unset;
}

.projects-wrapper > h2 {
  width: 100%;
  text-align: center;
  line-height: 1;
  margin-top: 3em;
  margin-bottom: 0.5em;
  -webkit-transition: line-height 200ms, opacity 200ms, margin 200ms;
  transition: line-height 200ms, opacity 200ms, margin 200ms;
}

.projects-wrapper > h2.hidden {
  line-height: 0;
  opacity: 0;
  margin: 0;
  -webkit-transition: line-height 200ms, opacity 200ms, margin 200ms;
  transition: line-height 200ms, opacity 200ms, margin 200ms;
}

.projects-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-line-pack: distribute;
      align-content: space-around;
  justify-items: center;
}

.card:hover {
  border-color: white;
  -webkit-transition: border-color 200ms;
  transition: border-color 200ms;
}

.card {
  background-color: white;
  border-bottom: 5px solid black;
  margin: 1em;
  width: 300px;
  height: 200px;
  cursor: pointer;
  border-radius: 20px;
  overflow: hidden;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: width 275ms 175ms, height 800ms, border-radius 375ms, margin 1s, border-color 200ms, -webkit-transform 150ms 275ms;
  transition: width 275ms 175ms, height 800ms, border-radius 375ms, margin 1s, border-color 200ms, -webkit-transform 150ms 275ms;
  transition: transform 150ms 275ms, width 275ms 175ms, height 800ms, border-radius 375ms, margin 1s, border-color 200ms;
  transition: transform 150ms 275ms, width 275ms 175ms, height 800ms, border-radius 375ms, margin 1s, border-color 200ms, -webkit-transform 150ms 275ms;
  -webkit-box-shadow: 0 9px 15px rgba(0, 0, 0, 0.5);
          box-shadow: 0 9px 15px rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.card p {
  line-height: 0;
  opacity: 0;
  -webkit-transition: line-height 750ms, opacity 600ms;
  transition: line-height 750ms, opacity 600ms;
}

.card .img-overlay {
  position: relative;
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(33%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(https://lorempixel.com/400/400);
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.5) 33%, rgba(0, 0, 0, 0) 100%), url(https://lorempixel.com/400/400);
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 200px;
}

#brisbane {
  background: -webkit-gradient(linear, left bottom, left top, from(black), color-stop(33%, rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0))), url(brisbane.jpg);
  background: linear-gradient(0deg, black 0%, rgba(0, 0, 0, 0.5) 33%, rgba(0, 0, 0, 0) 100%), url(brisbane.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 60%;
}

.card .titles {
  position: absolute;
  bottom: 0;
  left: 0;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  color: white;
  margin-left: 5%;
}

.card .titles h2 {
  margin: 0;
  margin-right: 1em;
}

.card .titles h3 {
  margin: 0;
  margin: 0.5em 0 1em 0;
  font-weight: 400;
  font-size: 1em;
}

.card p {
  font-weight: 300;
  margin: 1em 5%;
}

.card.hidden {
  opacity: 0;
  height: 0;
  width: 0px;
  margin: 0;
  -webkit-transition: opacity 500ms, width 500ms 500ms, height 500ms;
  transition: opacity 500ms, width 500ms 500ms, height 500ms;
}

.card.open {
  overflow: scroll;
  width: 100vw;
  height: 100vh;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition: width 475ms 200ms, height 500ms 300ms, border-radius 500ms 375ms, margin 1s, -webkit-transform 150ms;
  transition: width 475ms 200ms, height 500ms 300ms, border-radius 500ms 375ms, margin 1s, -webkit-transform 150ms;
  transition: transform 150ms, width 475ms 200ms, height 500ms 300ms, border-radius 500ms 375ms, margin 1s;
  transition: transform 150ms, width 475ms 200ms, height 500ms 300ms, border-radius 500ms 375ms, margin 1s, -webkit-transform 150ms;
  z-index: 19000;
  margin: 0em;
  border-radius: 0;
}

.card.open p {
  line-height: 1;
  opacity: 1;
  -webkit-transition: line-height 300ms 675ms, opacity 300ms 675ms;
  transition: line-height 300ms 675ms, opacity 300ms 675ms;
}

.card.open .img-overlay {
  height: 50%;
}

.card.open .blog-img {
  height: 50%;
}

@media only screen and (max-width: 700px) {
  .card {
    width: 80%;
  }
}

@-webkit-keyframes card {
  0% {
  }
  20% {
    position: static;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    width: 200px;
    height: 300px;
  }
  21% {
    position: absolute;
    width: 200px;
    height: 300px;
  }
  40% {
    width: 100vw;
    -webkit-transform: scale(1);
            transform: scale(1);
    height: 300px;
  }
  60% {
    height: 600px;
  }
  100% {
    width: 100vw;
    -webkit-transform: scale(1);
            transform: scale(1);
    height: 600px;
    position: absolute;
  }
}

@keyframes card {
  0% {
  }
  20% {
    position: static;
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
    width: 200px;
    height: 300px;
  }
  21% {
    position: absolute;
    width: 200px;
    height: 300px;
  }
  40% {
    width: 100vw;
    -webkit-transform: scale(1);
            transform: scale(1);
    height: 300px;
  }
  60% {
    height: 600px;
  }
  100% {
    width: 100vw;
    -webkit-transform: scale(1);
            transform: scale(1);
    height: 600px;
    position: absolute;
  }
}
/*# sourceMappingURL=main.css.map */